/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "PT Serif";
    font-size: 22px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* basic styling for navbar for attractive looks  */

#nav_bar {
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    background-color: #239095;
    z-index: 1;
    width: 100%;
    min-height: 1rem;
    align-items: center;
    justify-content: space-between;
}

#nav_bar > img {
    padding: 0 10px;
    height: 30px;
    width: 250px;
}

#menu_list {
    min-height: 1rem;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#menu_list > li {
    float: left;
}

#menu_list > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu_list > li a:hover {
    background-color: #111;
}

/* header styling for carousel */

header {
    grid-column: 1 / -1;
    height: 70vh;
    width: 100%;
}

header > div {
    width: 100%;
    min-height: 70vh;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* carousel styling starts here */
.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    height: 70vh;
}

.captions {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: justify;
    top: 50%;
    transform: translateY(-50px);
}
.captions h1 {
    text-align: start;
    font-weight: bolder;
    font-size: 3rem;
    padding: 10px;
    text-shadow: 0 0 10px black;
}

.caption_description {
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 0 0 10px black;
}

.captions_button {
    border: 2px solid white;
    color: white;
    background: transparent;
    padding: 15px 10px;
    font-size: 1.25rem;
    text-shadow: 0 0 10px black;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* footer styling is here */

footer {
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    color: #eee;
    font-size: 1rem;
    line-height: 2;
    background-color: #20b4a9;
    /* background: black; */
}

section {
    width: 100%;
}
.footer_column {
    float: left;
    width: 50%;
    padding: 30px;
}

#showMapButton {
    position: absolute;
    top: 50px;
    right: 50px;
    border: 0;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#closeButton {
    cursor: pointer;
    color: white;
    background-color: black;
}
.footer_maps {
    position: relative;
}

.footer_row:after {
    content: "";
    display: table;
    clear: both;
}

footer nav a {
    display: block;
    padding: 0;
    text-align: left;
    color: #eee;
}

iframe {
    width: 100%;
    height: 350px;
}
.footer_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}

#copyright {
    text-align: center;
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 20px;
    flex-basis: 100%;
    font-style: italic;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: white;
    overflow: hidden;
    height: 50vh;
    text-align: justify;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

#modalOverlay {
    display: none;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Form Styling */

form {
    background-color: #f2f2f2;
    margin-top: 20px;
    padding: 20px;
}
input[type="text"],
select,
textarea {
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #20b4a9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #239095;
}

.container {
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.time_spent {
    border: 1px solid lightgrey;
}
.row {
    display: flex;
}

.inline-input {
    flex: 1;
    margin-right: 10px;
}

#closeModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: white;
    padding: 10px;
}

ul {
    padding: 0;
    list-style: none;
}
h1,
nav {
    text-align: center;
}

h2,
h3,
dt {
    font-family: "Gabriola", sans-serif;
}
h2 {
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-shadow: 2px 2px 10px white;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

dd {
    font-weight: bold;
}

.banner_logo {
    width: 141px; /* Adjusted width for mobile responsiveness */
    margin: 1rem auto 0;
    object-fit: contain;
    background-size: contain;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.banner_title {
    font-weight: 700;
    font-size: 3.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 1rem auto 0;
    line-height: 1.1;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    flex-shrink: 0;
    display: block;
}

.banner_description {
    width: 80%;
    font-size: 1.5rem;
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
    margin: 1rem auto 0;
    line-height: 1.6;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    padding: 0;
    display: block;
    color: white;
}

.banner_button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    margin: 1rem auto 0;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

#wrapper {
    width: 80%;
    display: block;
    text-align: center;
    margin: 40px auto;
}

.wrapper_intro {
    text-align: justify;
    font-size: 1.1em;
}

.main > .row {
    display: flex;
    flex-wrap: wrap;
}

.main > .row > .column {
    flex: 25%;
}

.main > .row > .column > img {
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
}

.main > .row > .column > p {
    font-size: 1.5em;
    font-variant: petite-caps;
    text-decoration: underline;
    font-weight: 600;
}

.underline {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
.container_row {
    display: flex;
    justify-content: center;
}

.container_column {
    position: relative;
    width: 33.33%;
    margin: 5px;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
    padding: 10px;
    min-height: 400px; /* Add a minimum height to ensure content is visible */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden; /* Hide overflow to contain the image */
    transition: transform 0.7s ease; /* Slow transition for zoom effect */
}

.container_column h1 {
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.service_column {
    position: relative;
    width: 33.33%;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set background image to cover container */
    color: black;
    padding: 10px;
    min-height: 200px; /* Add a minimum height to ensure content is visible */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: white;
    padding: 10px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-overlay h2 {
    font-size: 3.5rem;
    padding: 0;
}

.content-overlay p {
    font-weight: bold;
}
.content-overlay h2,
.content-overlay p {
    color: black;
}

.tour_one {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./images/bg/image_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set background image to cover container */
}
.tour_two {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./images/bg/image_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set background image to cover container */
}
.tour_three {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./images/bg/image_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Set background image to cover container */
}

.service_one {
    background-image: url("./images/bg/11.jpg");
}
.service_two {
    background-image: url("./images/bg/12.jfif");
}
.service_three {
    background-image: url("./images/bg/13.jfif");
}

h1 a {
    text-decoration: none;
    color: #eee;
}

h1 a:hover {
    text-shadow: 0px 0px 1px #eee;
}

.link_section::after {
    content: "";
    display: table;
}

@media screen and (max-width: 768px) {
    #categories {
        grid-template-columns: 1fr 1fr;
    }

    #nav_bar {
        text-align: center;
        display: block;
        position: relative;
        background-color: black;
        padding: 10px 0;
    }
    #menu_list {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row !important;
    }
    #nav_bar a {
        display: block;
        margin: 5px 0;
        padding: 5px 10px !important;
        color: white;
        text-decoration: none;
    }

    #nav_bar a:hover {
        background-color: #111;
    }

    #multicol {
        display: flex;
        flex-wrap: wrap;
    }

    .item25 {
        width: 50%;
    }

    nav ul {
        flex-direction: column !important;
    }

    nav ul li {
        display: block;
    }

    .item33 {
        float: none;
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    footer > div {
        width: 100%;
    }
    footer nav a {
        text-align: center;
    }
    /* Responsive changes */
    header {
        margin-top: 0;
        background-position: center; /* Adjust background position for mobile */
        height: auto; /* Adjust height for mobile responsiveness */
    }
    .banner_logo {
        width: 100px;
    }

    .banner_title {
        font-size: 1.75rem; /* Adjust font-size for mobile */
    }

    .banner_description {
        font-size: 1.25rem; /* Adjust font-size for mobile */
    }

    .banner_button {
        font-size: 1.2rem; /* Adjust font-size for mobile */
    }

    #wrapper {
        width: 95%;
    }

    main {
        padding: 20px;
    }

    .main > .row > .column {
        flex: 50%;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    #wrapper {
        width: 90%;
    }
}
